@model ContactFormModel

@{
    ViewBag.Title = "Edit Contact";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Edit">
    @await Html.PartialAsync("~/Views/Shared/_ContactFormPartial.cshtml", Model)
    <div class="d-flex justify-content-center">
         <input class="btn btn-primary col-7" type="submit" value="Edit" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}